* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Blinker", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#root {
  height: 100%;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
